
  <div class="message-info", data-user-id="<%= message.user_id %>">

    <% chat_room_id = @chat_room&.user&.id || message.chat_room&.user&.id  %>

    <div class="<%= is_owner(current_user, chat_room_id, message&.user_id) %>">
      <img src="<%= message.user.gravatar_url %>" alt="" />
      <p><small><%=  message.user.name %></small><br><%= message.body %></p><br>
      <span><%= message.timestamp %></span>
    </div>

  </div>